*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(45deg,#3260faaf,#02fa5586 20%,#11bcff86 50%, #d502ff); 
}
.navbar{
    position: relative;
    background: -webkit-radial-gradient(circle,#cddbcd,#e798ff, #fffb0a); 
    margin: 30px 60px;
    overflow: hidden;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .3s linear;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px #3d3d3d;
}

.inner-width{
    margin: auto;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background: -webkit-radial-gradient(ellipse,#ff00b3,#056cf3, #000000a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    -webkit-text-stroke: .5px #0513005d;
    box-sizing: border-box;
    font-weight: 700;
    text-shadow: 3px 3px 3px #00000a6c;
}

.logo:hover{
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
}

.menu-toggle{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggle span{
    display: block;
    height: 3px;
    background: -webkit-radial-gradient(ellipse,#ff00b3,#05cff3, #140102);
    margin: 6px 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #3f3f3f;
    transition: .3s linear;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: block;
    float: left;
    padding: 8px 7px;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a.active{
    background: #7067ebb0;
    color: rgb(255, 253, 253);
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 2px 2px 5px #0000009f;
}
.navbar-menu a:hover{
    background: #7067ebb0;
    color: rgb(255, 253, 253);
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 3px 2px 5px #000000b1;
}

@media screen and (max-width: 768px){
    .navbar{
        margin: 30px;
        padding: 0 15px 0 10px;
    }
    .logo{
        font-size: 32px;
        line-height: 50px;
        font-weight:  900;
    }
}

i{
    padding-right: 10px;
}
#home{
   margin-top: 100px;
    min-height: 100vh;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    text-align: center;
}

#home .content{
    width: 100%;
}

# .content h2{
  font-size: 40px;
  margin-top: 100px;
  text-shadow: 3px 2px 5px #000000b1;
}

#home .content h2::after{
  content: "Hi I'm";
  font-size: 40px;
  margin-top: 100px;
  text-shadow: 3px 2px 5px #000000b1;
  animation: textanima 10s linear infinite;
  background: -webkit-radial-gradient(ellipse,#eb01df,#045e5e,#f80303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes textanima{
  50%{
    content: "A";
    background: -webkit-radial-gradient(ellipse,#eb01d8,#0110e7,#ff00f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    content: "A";
    background: -webkit-radial-gradient(ellipse,#01ebeb,#5c5a0b,#41161a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#home .content h1{
    font-size: 50px;
    margin-bottom: 50px;
    text-shadow: 3px 2px 5px #000000b1;
}

#home .content h1::after{
    content: "Techboy Dk";
    animation: textanim 10s linear infinite;
    background: -webkit-radial-gradient(ellipse,#eb01df,#045e5e,#f80303);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes textanim {
    50%{
        content: "Developer";
        background: -webkit-radial-gradient(ellipse,#eb01d8,#0110e7,#ff00f2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        content: "Designer";
        background: -webkit-radial-gradient(ellipse,#01ebeb,#5c5a0b,#41161a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sm a{
    color: #15cfe7;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
    box-sizing: border-box;
    box-shadow: 3px 3px 4px #000000b1;
    background-color: #04083f;
    border-radius: 5px;
    padding: 3px;
}

.sm a:hover{
    color: #02011a;
    background-color: aquamarine;
}

#home .button{
    margin-top: 60px;
}

#home .button a{
    display: inline-block;
    margin: 15px 40px;
    color: rgb(25, 12, 29);
    font-weight: 700;
    font-size: 20px;
    width: 180px;
    padding: 5px 0;
    border: 2px solid;
    border-radius: 6px;
    transition: .2s linear;
}

#home .button a:hover{
    background: aquamarine;
    color: rgb(5, 14, 56);
    box-shadow: 3px 3px 5px #000000b1;
}

/* animation part start */

.animation{
    position: relative;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin: 150px;
    animation: colour 2s linear infinite;
}
@keyframes gola {
    

}

.animation span:nth-child(1){
    display: flex;
    z-index: 999;
    height: 10px;
    position: relative;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #3f3f3f;
    transition: .3s linear;
    animation: colour 10s linear infinite;
}

.animation span:nth-child(2){
    display: flex;
    z-index: 999;
    height: 10px;
    margin: 10px 0 0 0;
    position: relative;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #3f3f3f;
    transition: .3s linear;
    animation: colour 10s linear infinite;
}

.animation span:nth-child(3){
    display: flex;
    z-index: 999;
    height: 10px;
    margin: 10px 0 0 0;
    position: relative;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #3f3f3f;
    transition: .3s linear;
    animation: colour 10s linear infinite;
}

.rotate{
    animation: rotation 60s linear infinite;
}

@keyframes colour {
    0%{
        transform: rotate(0deg);
        background: -webkit-linear-gradient(135deg,#fa02c4,#05f37c, #020301);
    }
    25%{
        transform: rotate(90deg);
        background: -webkit-radial-gradient(45deg,#02fa02,#6b7c08, #ff0202); 
    }
    50%{
        transform: rotate(180deg);
        background: -webkit-radial-gradient(circle,#cddbcd,#e798ff, #fffb0a); 
    }
    75%{
        transform: rotate(270deg);
        background: -webkit-linear-gradient(45deg,#0640ff,#e7e9de, #d502ff); 
    }
    100%{
        transform: rotate(360deg);
        background: -webkit-linear-gradient(180deg,#cdff57,#00fd0d, #02f7ff); 
    } 

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* animation part end! */

.copyright h3{
    text-shadow: 2px 2px 5px #000000;
    text-align: center;
    background-color: blanchedalmond;
    padding: 5px 0;
}

hr{
    display: block;
    margin: 0 35% 0.5em;
    opacity: .3;
}

@media screen and (max-width: 3000px) {
    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: -webkit-linear-gradient(45deg,#ff06f3,#06a4dd, #02ff56); 
        top: 0;
        right: -100%;
        max-width: 300px;
        padding: 50px 50px;
        transition: .3s linear;
        box-shadow: 2px 2px 5px wheat;
    }

    .navbar-menu a{
        display: block;
        font-size: 20px;
        margin: 30px 0;
        float: none;
    }

    .navbar-menu.active{
        right: 0;
    }
    .fixed{
      overflow: hidden;
    }
    .menu-toggle{
        display: block;
    }
    .menu-toggle.active span:nth-child(1){
       transform: rotate(-405deg);
        top: 9px;
    }
    .menu-toggle.active span:nth-child(2){
        transform: rotate(360deg);
        opacity: 0;
    }
    .menu-toggle.active span:nth-child(3){
        transform: rotate(405deg);
        bottom: 9px;
    }
}
